{{replace file="TPL_PATH.'usr/_header.html'"}}
	</head>

	<body>
		<div class="top_menu sub_menu">
			<div class="home">
				{{replace file="TPL_PATH.'_searcher.html'"}}
				<!-- <form style="background-color:#f8f8f8;border-radius: 0.4rem;background-image: url(/style/img/ss_03.png);background-repeat: no-repeat;background-size: 9%;background-position: 33% center;display: block;margin: 0 auto;left: 0;width: 86.5%;">
					<input type="submit" value="" style="width: 38%;">
					<input class="fr" type="text" placeholder="生鲜配送产品" style="width: 3.58rem;">
				</form> -->
			</div>
		</div>

		<div class="column">
			<ul class="sescond clr">
				<!-- 导航入口 -->
				{{foreach $nav(id,img1)}}
				<li>
					<a href="{{U('goods/submenu', ['category_id_1'=>@id])}}">
						<img src="{{src(@img1)}}" />
					</a>
				</li>
				{{/foreach}}
			</ul>
		</div>
		<div style="height: 65px;"></div>

		<!--底部导航-->
		<div class="foot">
			<a href="{{U('index')}}"><img src="/style/img/nav5.png" /></a>
			<a href="{{U('goods/index')}}"><img src="/style/img/nav6.png" style="width: 73%;"/></a>
			<a href="{{U('cart')}}"><img src="/style/img/nav_07.png" /></a>
			<a href="{{U('usr')}}"><img src="/style/img/nav_09.png" /></a>
		</div>
	</body>
</html>
