<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		
	</head>

	<body>
		<div class="topnav" style="text-align: left;padding-left: 10%;color: #000000;">
			<a style="padding-top: 1px;"><img src="img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>添加收货地址</span>
		</div>
		<form class="container">
			<dl>
				<dt style="border-bottom: 1px solid #ccc;">联系人</dt>
				<dd>
					<label>姓名：</label>
					<input class="inputname" type="text" placeholder="请输入姓名" />
				</dd>
				<dd  class="redio" style="color: #999999;font-size: 0.34rem;">
					<input type="radio" name="sex"> 先生
					<input type="radio" name="sex"> 女士
				</dd>
				<dd style="border: none;background: none;">
					<label>手机：</label>
					<input style="width: 5.8rem;" type="tel" placeholder="请输入收货手机号码，以便配送员联系您" />
				</dd>
				<dt style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;">收货地址</dt>
				<dd class="wbj">
					<label>小区/大厦/学校：</label>
					<a href="#" class="adrsee">点击选择</a>
				</dd>
				<dd class="wbj">
					<label>楼号-门牌号：</label>
					<span style="color: #999;">例：12楼102室</span>
				</dd>
			</dl>
		</form>
		
	</body>
	

</html>