<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<style>
			.img2 {
				display: none;
			}
			
			.img3 {
				display: none;
			}
			
		</style>

	</head>

	<body>
		<div class="topnav" style="text-align: left;padding-left: 10%;color: #000000;border-bottom: 8px solid #F4F4F4;height: 65px;">
			<a style="padding-top: 1px;"><img src="img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>添加收货地址</span>
			<a href="#" style="left: 85%;line-height: 60px;color: #333;font-size: 0.36rem;">编辑</a>
		</div>

		<div>
			<div class="carinfo" style="">
				<div class="clr">
					<label class="fl">张三</label>
					<label class="fr" style="padding-right: 6%;">13516423956</label>
				</div>
				<p>收货地址:安徽省合肥市蜀山区高新区天波路天波国际大厦</p>
			</div>
			<div class="time">
				指定时间
				<em>（6:00-8:00）</em>
			</div>
			<div><img src="img/gwc_02.png" /></div>
		</div>

		<div class="carnum">
			<ul>
				<li class="clr">
					<a class="xuanzhong fl"><img src="img/gwc_13.png" /><img src="img/gwc_08.png" class="img2" /></a>
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div>
							<p>精品五花肉</p>
							<span>9.90/袋<i>（10斤）</i></span>
						</div>
						<div class="clr add">
							<span class="fl pri">￥<em>19.9</em><i>/斤</i></span>
							<form class="num_box fr">
								<a class="J_jian">-</a>
								<label><input type="text" class="num" value="0"/></label>
								<a class="J_jia">+</a>
							</form>
						</div>
					</div>
				</li>
				<li class="clr">
					<a class="xuanzhong fl"><img src="img/gwc_13.png" /><img src="img/gwc_08.png" class="img2" /></a>
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div>
							<p>精品五花肉</p>
							<span>9.90/袋<i>（10斤）</i></span>
						</div>
						<div class="clr add">
							<span class="fl pri">￥<em>19.9</em><i>/斤</i></span>
							<form class="num_box fr">
								<a class="J_jian">-</a>
								<label><input type="text" class="num" value="0"/></label>
								<a class="J_jia">+</a>
							</form>
						</div>
					</div>
				</li>
				<li class="clr">
					<a class="xuanzhong fl"><img src="img/gwc_13.png" /><img src="img/gwc_08.png" class="img2" /></a>
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div>
							<p>精品五花肉</p>
							<span>9.90/袋<i>（10斤）</i></span>
						</div>
						<div class="clr add">
							<span class="fl pri">￥<em>19.9</em><i>/斤</i></span>
							<form class="num_box fr">
								<a class="J_jian">-</a>
								<label><input type="text" class="num" value="0"/></label>
								<a class="J_jia">+</a>
							</form>
						</div>
					</div>
				</li>

			</ul>

		</div>
		<div style="height: 2.3rem;background: #f1f2f7;"></div>
		<div class="shanchu">
			<label>
				<a class="shan xuanzhong fl">
					<img src="img/gwc_13.png" />
					<img src="img/gwc_08.png" class="img3" />
				</a>
				全选
			</label>
			<a class="fr">下单</a>	
			<div class="xiadan fr">
				<span>合计：<em>￥ 398.00</em></span>				
			</div>
			
		</div>
		<!--底部导航-->
		<div class="foot">
			<a href="#"><img src="img/nav_03.png" /></a>
			<a href="#"><img src="img/nav_05.png" /></a>
			<a href="#"><img src="img/nav_07.png" /></a>
			<a href="#"><img src="img/nav_09.png" /></a>
		</div>
	</body>
	<script type="text/javascript" src="js/js.js" ></script>
	

</html>