<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<style>
			.xuanzhong img {
			    top: 0.7rem;
			    left: 5%;
			}
			.img2{display: none;}
			
		</style>
	</head>
	
	<body style="background: #f6f6f6;">
		<div class="topnav" style="text-align: left;padding-left: 10%;color: #000000;height: 65px;">
			<a style="padding-top: 1px;"><img src="img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>选择收货地址</span>
			<a href="#" style="left: 85%;line-height: 60px;color: #333;font-size: 0.36rem;">取消</a>
		</div>
		
		<div class="choice">
			<ul>
				<li class="clr">
					<a class="xuanzhong fl"><img src="img/gwc_13.png" /><img src="img/gwc_08.png" class="img2" /></a>
					<div class="fr">
						<p>安徽省合肥市蜀山区高新区天波路天波...</p>
						<span>张三&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12345678910</span>
					</div>
				</li>
				<li class="clr">
					<a class="xuanzhong fl"><img src="img/gwc_13.png" /><img src="img/gwc_08.png" class="img2" /></a>
					<div class="fr">
						<p>安徽省合肥市蜀山区高新区天波路天波...</p>
						<span>张三&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12345678910</span>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="confirm">确认删除</div>
	</body>
	<script type="text/javascript" src="js/js.js" ></script>
</html>
