<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		<style>
			.oderinfo {
				margin-bottom: 0;
			}
			
			.oderinfo1 {
				margin-bottom: 10px;
			}
		</style>

	</head>

	<body style="background: #F4F4F4;">
		<div class="topnav" style="color: #000000;height: 65px;">
			<a style="padding-top: 1px;"><img src="img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>订单详情</span>
		</div>
		<a href="#">
			<div class="carinfo oderinfo2" style="">

				<div class="clr">
					<label class="fl">张三</label>
					<label class="fr" style="padding-right: 6%;">13516423956</label>
				</div>
				<p>收货地址:安徽省合肥市蜀山区高新区天波路天波国际大厦</p>

			</div>
		</a>

		<div class="carnum order">
			<ul>
				<li class="clr">
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">精品五花肉</p>
							<p class="fr">￥19.9</span>
						</div>
						<div class="clr add">
							<span class="fl pri">9.90/袋（10斤）</span>
							<span class="fr pri">x20</span>
						</div>
					</div>
				</li>
				<div class="oderinfo"><span>共1件商品</span><span>合计:￥398.00</span></div>
				<div class="oderinfo oderinfo1"><span>创建时间:2017-9-29 12:00</span></div>
				<li class="clr">
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">精品五花肉</p>
							<p class="fr">￥19.9</span>
						</div>
						<div class="clr add">
							<span class="fl pri">9.90/袋（10斤）</span>
							<span class="fr pri">x20</span>
						</div>
					</div>
				</li>
				<div class="oderinfo"><span>共1件商品</span><span>合计:￥398.00</span></div>
				<div class="oderinfo oderinfo1"><span>创建时间:2017-9-29 12:00</span></div>
				<li class="clr">
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">精品五花肉</p>
							<p class="fr">￥19.9</span>
						</div>
						<div class="clr add">
							<span class="fl pri">9.90/袋（10斤）</span>
							<span class="fr">x20</span>
						</div>
					</div>
				</li>
				<div class="oderinfo"><span>共1件商品</span><span>合计:￥398.00</span></div>
				<div class="oderinfo oderinfo1"><span>创建时间:2017-9-29 12:00</span></div>
			</ul>

		</div>
	</body>

</html>