<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>

	</head>
	
	<body style="background: #F4F4F4;">
		<div class="topnav" style="color: #000000;border-bottom: 8px solid #F4F4F4;height: 65px;">
			<a style="padding-top: 1px;"><img src="img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>我的订单</span>
		</div>

		
		<div class="carnum order">
			<ul>
				<li class="clr">
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">精品五花肉</p>
							<p class="fr">￥19.9</span>
						</div>
						<div class="clr add">
							<span class="fl pri">9.90/袋（10斤）</span>
							<span class="fr pri">x20</span>
						</div>
					</div>
				</li>
				<div class="oderinfo"><span>共1件商品</span><span>合计:￥398.00</span></div>
				<li class="clr">
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">精品五花肉</p>
							<p class="fr">￥19.9</span>
						</div>
						<div class="clr add">
							<span class="fl pri">9.90/袋（10斤）</span>
							<span class="fr pri">x20</span>
						</div>
					</div>
				</li>
				<div class="oderinfo"><span>共1件商品</span><span>合计:￥398.00</span></div>
				<li class="clr">
					<a href="#" class="productimg fl"><img src="img/gwc_05.png" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">精品五花肉</p>
							<p class="fr">￥19.9</span>
						</div>
						<div class="clr add">
							<span class="fl pri">9.90/袋（10斤）</span>
							<span class="fr">x20</span>
						</div>
					</div>
				</li>
				<div class="oderinfo"><span>共1件商品</span><span>合计:￥398.00</span></div>

			</ul>

		</div>
	</body>
</html>
