{{replace file="TPL_PATH.'usr/_header.html'"}}
		<script type="text/javascript" src="/style/js/jquery.js"></script>
		<style>
			.infocenter ul li{border-bottom: 1px solid #cccccc !important;padding: 0;background-repeat: no-repeat;background-position: 4% center;background-size: 0.18rem;padding-left: 9%;padding-right: 3%;}
		    /*.infocenter ul li:last-child{background-image: none;}*/
			.infocenter ul li em{font-size:0.28rem;color: #999;}
		</style>
	</head>
	<body>
		<div class="topnav" style="border-bottom: 1px solid #f0f0f0;text-align: left;padding-left: 10%;color: #000000;height: 65px;">
			<a href="javascript:window.history.back();" style="padding-top: 1px;"><img src="/style/img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>消息中心</span>
			<a href="javascript:dialog(3,['清空后的消息将不再显示','确定要清空?'],{cancel:'取消',confirm:['清空','{{U('usr/mbox_clear')}}']})" style="left: 86%;line-height: 60px;color: #333;font-size: 0.36rem;">清空</a>
		</div>
		<div class="choice infocenter">
			<ul>
				{{foreach $list(k,v)}}
				<a href="javascript:kwj('{{htmlspecialchars(@msg)}}')"><li class="clr" <?php echo $isread ? 'style="background-image: url(/style/img/dian.png);"' : '' ?>>
					<span class="fl">{{@title}}</span>
					<em class="fr">{{date('Y-m-d',@sendtime)}}</em>
				</li></a>
				{{/foreach}}
			</ul>
		</div>
		{{replace file="TPL_PATH.'usr/_footer.html'"}}
	</body>
</html>
