<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		<script type="text/javascript" src="js/jquery.js" ></script>
		<style>
			.notice {padding: 0 3%;box-sizing: border-box;}
			.notice .title{padding: 3% 0;text-align: center;font-size: 0.42rem;border-bottom: 1px dashed #dbdbdb;}
			.notice .title span{color: #c6c4c5;font-size: 0.32rem;}
		</style>
	</head>
	
	<body>
		<div class="topnav" style="text-align: left;padding-left: 10%;color: #000000;border-bottom: 1px solid #f0f0f0;">
			<a style="padding-top: 1px;"><img src="img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>消息中心</span>
		</div>
		
		<div class="container notice">
			<div class="title" >
				关于鲜锋配送APP的升级通知<br />
				<span>2017-10-19</span>
			</div>
			
			<div class="content" style="color: #999;font-size: 0.34rem;line-height: 0.55rem;padding-top: 0.2rem;">	
					1:新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段新增栏目列表扩展字段，			
			</div>
		</div>
	</body>
</html>
