{{replace file="TPL_PATH.'usr/_header.html'"}}
		<style>
			.oderinfo {
				margin-bottom: 0;
			}

			.oderinfo1 {
				margin-bottom: 10px;
			}
		</style>

	</head>

	<body style="background: #F4F4F4;">
		<div class="topnav" style="color: #000000;height: 65px;">
			<a href="javascript:window.history.back();" style="padding-top: 1px;"><img src="/style/img/r_03.jpg" style="margin-top: 16px;height: 25px;" /> </a>
			<span>订单详情</span>
		</div>
		<div class="carinfo oderinfo2" style="">
			<div class="clr">
				<label class="fl">{{$receiver_name}}</label>
				<label class="fr" style="padding-right: 6%;">{{$receiver_mobile}}</label>
			</div>
			<p>收货地址:{{$receiver_pcd}} {{$receiver_address}}</p>
		</div>
		<div class="carnum order">
			<ul>
				{{foreach $list(key,row)}}
				<li class="clr">
					<a href="{{U('goods/view', ['id'=>@goods_id])}}" class="productimg fl"><img src="{{src(@img1)}}" /></a>
					<div class="fr">
						<div class="clr">
							<p class="fl">{{@goods_name}}</p>
							<p class="fr">￥{{@price}}</span>
						</div>
						<div class="clr add">
							<span class="fl pri">{{@goods_name_added}}</span>
							<span class="fr pri" style="text-align:right">x{{@num}}</span>
							<span class="fr">小计:￥{{@goods_money}}</span>
						</div>
					</div>
				</li>
				{{/foreach}}
				<div class="oderinfo"><span>合计:￥{{$goods_money}}</span></div>
				<div class="oderinfo oderinfo1"><span>下单时间:{{$create_time}}</span></div>

			</ul>

		</div>
	</body>

</html>